.site-head{
    min-width: 1152px;
    height: 150px;
}

/*导航顶部*/
.site-head .topbar {
    min-width: 1152px;
    height: 32px;
    background-color: #2A2A2A;
    color: white;
    line-height: 32px;/*字体居中*/
}
.site-head .topbar a {
    color: white;
}
.site-head .topbar .shortcut-links {
    float: left;
}
.site-head .topbar .shortcut-links > ul > li {
    float: left;
    margin-right: 18px;
    font-size: 14px;
}
.site-head .topbar .shortcut-links > ul > li.have-menu {
    padding-right: 12px;
    position: relative;
}
/* 线条三角箭头 */
.site-head .topbar .shortcut-links > ul > li.have-menu .arrow{
    position: absolute;
    right:0;
    top: 50%; /*垂直居中*/
    margin-top: -6px;
    width: 12px;
    height: 12px;
    transition: transform .2s ease 0s;
}
.site-head .topbar .shortcut-links > ul > li.have-menu:hover .arrow {
    transform: rotate(-180deg);
}
.site-head .topbar .shortcut-links > ul > li.have-menu .arrow b{
    position: absolute;
    left: 4px;
    top: 2px;
    width: 6px;
    height: 6px;
    background-color: #fff;
    transform: rotate(45deg);
}
.site-head .topbar .shortcut-links > ul > li.have-menu .arrow i{
    position: absolute;
    left: 4px;
    top: 0.5px;
    width: 6px;
    height: 6px;
    background-color: #2A2A2A;
    transform: rotate(45deg);
}
.site-head .topbar .shortcut-links > ul > li.have-menu .menu {
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 9999;
    padding-top: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.20);
    padding: 10px;
    display: none;    /* 隐藏 */
}
.site-head .topbar .shortcut-links > ul > li.have-menu .sqmenu {
    width: 110px;
}
.site-head .topbar .shortcut-links > ul > li.have-menu .scmenu {
    width: 80px;
}
.site-head .topbar .shortcut-links > ul > li.have-menu .jdmsmenu {
    width: 80px;
}
/* 鼠标碰到have-menu，就让menu出现 */
.site-head .topbar .shortcut-links > ul > li.have-menu:hover .menu {
    display: block;
}
.site-head .topbar .shortcut-links > ul > li.have-menu .menu .menu-list li {
    height: 20px;
    line-height: 20px;
}
.site-head .topbar .shortcut-links > ul > li.have-menu .menu .menu-list a{
    font-size: 12px;
    color: #1C1F21;
    line-height: 20px;
}
.site-head .topbar .shortcut-links > ul > li.have-menu .menu .menu-list a:hover {
    color: orange;
}
.site-head .topbar .topbar-r {
    float: right;
    width: 225px;
}
.site-head .topbar .topbar-r a, 
.site-head .topbar .topbar-r span {
    margin-right: 11px;
    font-size: 15px;
}
.site-head .topbar .topbar-r a:last-child {
    margin-right: 0;
}

/*导航蓝色部分*/
.site-head .main-nav {
    min-width: 1152px;
    height: 40px;
    background-color: rgb(120, 154, 228);
}
.site-head .main-nav ul li {
    float: left;
    margin-right: 18px;
}
.site-head .main-nav ul li a {
    line-height: 40px;
    color: white;
    font-size: 16px;
}
.site-head .main-nav ul li.have-menu {
    padding-right: 16px;
    position: relative;
}
/*实心三角箭头*/
.site-head .main-nav ul li.have-menu::before {
    content: '';
    position: absolute;
    right: 0;
    top: 18px;
    width: 0px;
    height: 0px;
    border: 4px solid transparent;
    border-bottom: none;
    border-top-color: white;
    transition: transform .5s ease 0s;
}
.site-head .main-nav ul li.have-menu:hover::before {
    transform: rotate(-180deg);
}
.site-head .main-nav ul li .menu {
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 99999;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.20);
    padding: 10px;
    display: none;
}
.site-head .main-nav ul li:hover .menu {
    display: block;
}
.site-head .main-nav ul li .menu dl dd a:hover {
    color: orange;
}
.site-head .main-nav ul li .jjzyxmenu{
    width: 150px;
}
.site-head .main-nav ul li .gtymenu{
    width: 90px;
}
.site-head .main-nav ul li .ddwlmenu {
    width: 190px;
}
.site-head .main-nav ul li .sdlymenu {
    width: 160px;
}

.site-head .main-nav ul li .menu dl dt {
    font-size: 16px;
}
.site-head .main-nav ul li .menu dl dd a {
    color: #1C1F21;
    font-size: 12px;
    line-height: 20px;
}

/*搜索部分*/
.site-head .header-con {
    height: 36px;
    padding: 21px 0;
}
.site-head .header-con h1 {
    float: left;
    font-size: 30px;
    color: rgb(120, 154, 228);
    line-height: 36px;
    font-weight:bolder;
}
.site-head .header-con .search-box {
    float: right;
    margin-left: 20px;
    width: 405px;
    padding-top: 2px;
}
.site-head .header-con .search-box input{
    float: left;
    width: 361px;
    height: 28px;
    border: 1px solid rgb(120, 154, 228);
    border-radius: 4px 0 0 4px;
    font-size: 14px;
    outline: none;/* 取消默认的外线*/
    padding-left: 10px;
}
.site-head .header-con .search-box .btn {
    float: left;
    width: 32px;
    height: 30px;
    background-color: rgb(120, 154, 228);
    color: white;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    border-radius: 0 4px 4px 0;
}

.banner {
    position: relative;
    overflow: hidden;
}
.banner .carousel_list {
    width: 600%;
    overflow: hidden;
}
.banner .carousel_list li {
    float: left;
    width: 16.66%;
    background-color:rgb(1,1,1);
}
.banner .carousel_list li img {
    width: 100%;
    min-width: 1152px;
    /* 处理白边 */
    vertical-align: middle;
}
.banner .center-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 1152px;
    /* 不可省略 */
    height: 100%;
    left: 50%;
    margin-left: -576px;
}
.banner .center-wrap .leftbtn {
    position: absolute;
    width: 28px;
    height: 44px;
    background: url(../images/icons.png) no-repeat -21px -94px;
    top: 50%;
    left: -38px;
    margin-top: -22px;
}
.banner .center-wrap .rightbtn {
    position: absolute;
    width: 28px;
    height: 44px;
    background: url(../images/icons.png) no-repeat -21px -29px;
    top: 50%;
    right: -38px;
    margin-top: -22px;
}
.banner .center-wrap .leftbtn:hover,  
.banner .center-wrap .rightbtn:hover{
    opacity: 0.8;
}
.banner .center-wrap .banner-nav {
    width: 652px;
    /* 不可省略，否则height为0  */
    height: 100%;
}
.banner .center-wrap .banner-nav>ul {
    /* 不可省略，否则height为0  */
    /* 那么它的子盒子设置16.6%就没有意义了  */
    height: 100%;
}
.banner .center-wrap .banner-nav>ul>li {
    height: 16.667%;
    width: 296px;
    background-color: rgba(0,0,0,.53);
    box-sizing: border-box;
    border-bottom: 1px solid #9e9e9e;
    position: relative;
}
.banner .center-wrap .banner-nav>ul>li:last-child {
    border-bottom: none;
}
.banner .center-wrap .banner-nav>ul>li dl {
    position: absolute;
    height: 48px;
    top:50%;
    left: 42px;
    margin-top: -24px;
    color: white;
}
.banner .center-wrap .banner-nav>ul>li dl dt {
    font-size: 18px;
    line-height: 26px;
    height: 26px;
}
.banner .center-wrap .banner-nav>ul>li dl dd {
    font-size: 16px;
    line-height: 22px;
    height: 22px;
}
.banner .center-wrap .banner-nav>ul>li::before {
    content: '';
    position: absolute;
    background-image: url(../images/icons.png);
    top: 50%;
    left: 10px;
}
.banner .center-wrap .banner-nav>ul>li.hot::before {
    width: 22px;
    height: 18px;
    background-position: -29px -399px;
    margin-top: -9px;
}
.banner .center-wrap .banner-nav>ul>li.hk::before {
    width: 18px;
    height: 21px;
    background-position: -28px -217px;
    margin-top: -10.5px;
    left: 13px;
}
.banner .center-wrap .banner-nav>ul>li.jp::before {
    width: 24px;
    height: 19px;
    background-position: -25px -171px;
    margin-top: -9.5px;
}
.banner .center-wrap .banner-nav>ul>li.as::before {
    width: 18px;
    height: 19px;
    background-position: -28px -262px;
    margin-top: -9.5px;
    left: 12px;
}
.banner .center-wrap .banner-nav>ul>li.eu::before {
    width: 20px;
    height: 14px;
    background-position: -29px -351px;
    margin-top: -7px;
    left: 11px;
}
.banner .center-wrap .banner-nav>ul>li.au::before {
    width: 18px;
    height: 17px;
    background-position: -28px -305px;
    margin-top: -8.5px;
    left: 12px;
}
.banner .center-wrap .banner-nav>ul>li.current {
    background-color: rgba(0, 0, 0, .63);
}
.banner .center-wrap .banner-nav .menus-box .menu {
    display: none;
    position: absolute;
    left: 296px;
    top: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, .63);
    color: white;
    padding: 16px;
    box-sizing: border-box;
    z-index: 9999;
}
/* 显示有current类名的menu */
.banner .center-wrap .banner-nav .menus-box .menu.current {
    display: block;
}
.banner .center-wrap .banner-nav .menus-box .menu a {
    color: white;
}
.banner .center-wrap .banner-nav .menus-box .menu a:hover {
    color: orange;
}
.banner .center-wrap .banner-nav .menus-box .menu dl {
    margin-bottom: 16px;
}
.banner .center-wrap .banner-nav .menus-box .menu dl dt {
    line-height: 30px;
    font-size: 18px;
}
.banner .center-wrap .banner-nav .menus-box .menu dl dd {
    line-height: 25px;
    font-size: 15px;
}

.banner .circles {
    width: 160px;
    height: 20px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -75px;
    z-index: 9999;
}
.banner .circles li {
    float: left;
    width: 20px;
    height: 20px;
    background-color: rgb(120, 154, 228);
    margin-right: 10px;
    border-radius: 10px;
    transition: all .5s ease 0s;
    /* 鼠标指针变为小手 */
    cursor: pointer;
}
.banner .circles li:last-child {
    margin-right: 0;
}
.banner .circles li.current {
    width: 40px;
    background-color: #20BD9A;
}


.hot-ads {
    margin: 32px 0;
}
.hot-ads ul li {
    float: left;
    margin-right: 32px;
}
.hot-ads ul li:last-child {
    margin-right: 0;
}

/* 公共特效 */
.content-part h2 {
    font-size: 36px;
    font-size: bold;
    color: #1C1F21;
    float: left;
}
.content-part em {
    position: relative;
    top: 20px;
    left: 10px;
    color: #1C1F21;
    float: left;
}
.content-part .head {
    margin-bottom: 32px;
}
.content-part img {
    transition: all .4s ease 0s;
}
.content-part img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.20);
}

.xxsw{
    padding-top: 40px;
    height: 698px;
    background-color: #F7F7F7;
}
.xxsw ul li {
    float: left;
    width: 264px;
    height: 270px;
    margin-right: 32px;
    background: white;
    margin-bottom: 32px;
}
.xxsw ul li:nth-child(4n) {
    margin-right: 0;
}
.xxsw ul li .wordbox {
    padding: 15px;
    color: #1C1F21;
    font-size: 14px;
}
.xxsw ul li:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.20);
}

.content-part .head nav {
    float: right;
    width: 546px;
}
.content-part .head nav ul {
    padding-top: 16px;
}
.content-part .head nav ul li{
    float: left;
    margin-right: 16px;
    font-size: 14px;
}
.content-part .head nav ul li:last-child {
    margin-right: 0;
}
.content-part .head nav ul li a {
    color: rgba(0,0,0,0.85);
}
.content-part .head nav ul li.current {
    border-bottom: 4px solid rgb(120, 154, 228);
    padding-bottom: 4px;
    box-sizing: border-box;
}
.content-part .head nav ul li.current a{
    color: rgb(120, 154, 228);
}

.common-style {
    height: 698px;
    padding-top: 40px;
}
.common-style .bd>ul>li {
    float: left;
    margin-right: 32px;
    margin-bottom: 32px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.08);
    background-color: white;
    overflow: hidden;
}
.common-style .bd>ul>li:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.20);
}
.common-style .bd>ul>li:nth-child(3), 
.common-style .bd>ul>li:nth-child(7) {
    margin-right: 0;
}
.common-style .bd>ul>li .tag {
    width: 74px;
    height: 40px;
    color: white;
    background-color: rgba(0,0,0,.55);
    position: absolute;
    bottom: 103px;
    left: 0;
    text-align: center;
    line-height: 40px;
    /* 图片一触碰，就会有transform变形，为了防止盖住，我们应该设置z-index属性值 */
    z-index: 9999;
}
.common-style .bd>ul>li.big-grid {
    width: 560px;
    height: 270px;
    position: relative;
}
.common-style .bd>ul>li.big-grid .info {
    width: 560px;
    height: 103px;
    color: white;
    background-color: rgba(0,0,0,.55);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px 26px;
    box-sizing: border-box;
    line-height: 26px;
}
.common-style .bd>ul>li.pro-grid {
    width: 264px;
    height: 270px;
}
.common-style .bd>ul>li.pro-grid .picbox {
    overflow: hidden;
    position: relative;
    height: 184px;
}
.common-style .bd>ul>li.pro-grid .picbox .tag {
    bottom: 0;
}
.common-style .bd>ul>li.pro-grid .wordbox {
    padding: 14px;
    font-size: 14px;
    color: #1C1F21;
    line-height: 26px;
}
.content-part .more-grid {
    width: 264px;
    height: 270px;
    background-image: linear-gradient(180deg, #34a3e3 0%, #1571af 98%);
    box-sizing: border-box;
    position: relative;
}
.content-part .more-grid a {
    display: block;
    height: 270px;
    padding-top: 46px;
    box-sizing: border-box;
}
.content-part .more-grid p {
    text-align: center;
    color: white;
    line-height: 24px;
    font-size: 15px;
}
.content-part .more-grid .iconfont {
    font-size: 48px;
    color: white;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 118px;
    left: 50%;
    margin-left: -24px;
}
/* 鼠标触碰more-grid盒子之后，iconfont进行蹦跳动画 */
.content-part .more-grid:hover .iconfont {
    animation: lr .6s ease 0s infinite alternate;
}
@keyframes lr{
    from {
        transform: translateX(-10px);
    }
    to {
        transform: translateX(10px);
    }
}
.content-part .more-grid ul {
    margin-top: 112px;
    padding-left: 40px;
}
.content-part .more-grid ul li {
    color: white;
    float: left;
    border-right: 1px solid white;
    padding: 0 9px;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
}
.content-part .more-grid ul li:last-child {
    border-right: none;
}
.ddwl {
    padding-top: 40px;
    height: 546px;
    background-color: #F7F7F7;
}
.ddwl .head nav {
    width: 349px;
}
.ddwl .bd .col {
    float: left;
    width: 364px;
    height: 480px;
    margin-right: 30px;
}
.ddwl .bd .col:last-child {
    margin-right: 0;
}
.ddwl .bd .bigpicbox {
    overflow: hidden;
    width: 364px;
    height: 270px;
    position: relative;
    margin-bottom: 30px;
}
.ddwl .bd .bigpicbox .info {
    position: absolute;
    width: 364px;
    height: 104px;
    background-color: rgba(0,0,0,.53);
    bottom: 0;
    left: 0;
    padding: 21px 17px 0;
    box-sizing: border-box;
    color: white;
    font-size: 14px;
}
.ddwl .bd .bigpicbox .info .bottom {
    padding-top: 6px;
}
.ddwl .bd .bigpicbox .info .bottom .tag {
    float: left;
}
.ddwl .bd .bigpicbox .info .bottom .price {
    float: right;
}
.ddwl .bd .bigpicbox .info .bottom .price strong {
    color: rgb(120, 154, 228);
}
.ddwl .bd .grid {
    width: 364px;
    height: 120px;
    background-color: white;
    margin-bottom: 30px;
}
.ddwl .bd .grid .picbox {
    float: left;
    width: 120px;
    height: 120px;
    overflow: hidden;
}
.ddwl .bd .grid .wordbox {
    float: left;
    width: 244px;
    height: 120px;
    padding: 26px 18px 0;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.08);
    font-size: 14px;
    color: #000;
}
.ddwl .bd .more-grid {
    width: 364px;
    background-image:  linear-gradient(180deg, #ffa163 1%, #ffbe68 98%);
}
.ddwl .bd .more-grid ul {
    padding-left: 19px;
}
.ddwl .bd .grid:hover, 
.ddwl .bd .bigpicbox:hover,
.ddwl .bd .more-grid:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.20);
}

.tsddty {
    height: 456px;
}
.tsddty .center-wrap {
    padding-top: 40px;
}
.tsddty .center-wrap h2 {
    width: 1152px;
    text-align: center;
}
.tsddty .bd ul li {
    float: left;
    width: 264px;
    height: 290px;
    margin-right: 32px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.08);
}
.tsddty .bd ul li:last-child {
    margin-right: 0;
}
.tsddty .bd ul li .wordbox {
    padding: 16px 9px 0;
}
.tsddty .bd ul li .wordbox .proname {
    font-weight: bold;
    font-size: 16px;
    color :#000000;
    height: 48px;
}
.tsddty .bd ul li .wordbox .score {
    font-size: 13px;
    color: #FA6400;
}
.tsddty .bd ul li .wordbox .comment {
    font-size: 13px;
    color: #000000;
}
.tsddty .bd ul li:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.20);
}

.zsjsdlx {
    height: 738px;
    background-color: #F7F7F7 ;
}
.zsjsdlx .head nav {
    float: right;
    width: 85px;
}
.zsjsdlx .bd .more-grid {
    background-image: linear-gradient(180deg, #bc70df 0%, #a337e6 98%);
}

.gtbzzy .head nav {
    width: 157px;
}
.gtbzzy .bd .more-grid {
    background-image: linear-gradient(180deg, #41D8E9 0%, #3685EA 98%);
}
/* .gtbzzy .bd .more-grid ul {
    padding-left: 67px;
} */

.big-grid.havehover .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
    opacity: 0;
    transition: opacity .4s ease 0s;
}
.big-grid.havehover:hover .mask {
    opacity: 1;
}
.big-grid.havehover .circle {
    position: absolute;
    top: -106px;
    left: 50%;
    margin-left: -53px;
    width: 106px;
    height: 106px;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    box-sizing: border-box;
    padding-top: 25px;
    font-size: 18px;
    transition: top .5s ease 0s;
}
.big-grid.havehover .circle p{
    text-align: center;
}
.big-grid.havehover:hover .circle{
    top: 62px;
}
.big-grid.havehover .word{
    position: absolute;
    bottom: -100px;
    left: 10px;
    color: white;
    transition: bottom .5s ease 0s;
}
.big-grid.havehover:hover .word {
    bottom: 30px;
}
footer .part1 {
    height: 220px;
    background-color: #f7f7f7;
}
footer .part1 ul {
    padding-top: 36px;
}
footer .part1 ul li {
    float: left;
    border-right: 1px solid #1C1F21;
    padding: 0 30px;
    height: 16px;
    line-height: 16px;
}
footer .part1 ul li:first-child {
    padding-left: 0;
}
footer .part1 ul li:last-child {
    border-right: none;
    padding-right: 0;
}
footer .part1 ul li a {
    color: #1C1F21;
    font-size: 16px;
}
footer .part1 .dlbox{
    padding-top: 40px;
}
footer .part1 dl {
    width: 289px;
    float: left;
    /* 预留图标的位置 */
    padding-left: 75px;
    margin-right: 30px;
    position: relative;
}
footer .part1 dl:last-child {
    margin-right: 0;
}
footer .part1 dl dt {
    font-weight: bold;
    margin-bottom: 10px;
}
footer .part1 dl::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url(../images/icons.png);
    left: 0;
}
footer .part1 dl dd {
    font-size: 14px;
}
footer .part1 dl.txfw::before {
    background-position: -150px -178px;
}
footer .part1 dl.ccsx::before {
    background-position: -150px -104px;
}
footer .part1 dl.axph::before {
    background-position: -150px -31px;
}
footer .part2 {
    height: 225px;
    background-color: #1C1F21;
}
footer .part2 .r1 {
    padding-top: 48px;
    color: white;
}
footer .part2 .r1 h2 {
    float: left;
    font-size: 46px;
}
footer .part2 .r1 .slogan {
    float: left;
    width: 700px;
    font-size: 14px;
    margin-left: 21px;
    position: relative;
    top: 35px;
}
footer .part2 .links {
    padding-top: 30px;
}
footer .part2 .links li {
    float: left;
    border-right: 1px solid white;
    padding: 0 10px;
    font-size: 14px;
    line-height: 14px;
    height: 14px;
}
footer .part2 .links li a{
    color: white;
}
footer .part2 .links li:first-child {
    padding-left: 0;
}
footer .part2 .links li:last-child {
    border-right: none;
}
footer .copyrights {
    color: white;
    padding-top: 20px;
    font-size: 14px;
}
footer .copyrights a {
    color: white;
}
.backtotop {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 70px;
    height: 70px;
    background: rgba(204, 204, 204, 0.363);
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    color: #000;
    /* 隐藏元素 */
    display: none;
}